<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{fragments/headerLayout :: layout(~{::title}, ~{::script})}">
        <title>Rooms</title>
        <script th:src="@{/assets/room.js}" type="text/javascript"></script>
    </head>
    <body>
        <div class="container m-3">
            <div th:replace="~{fragments/authorHeader :: author}"></div>
            <nav th:replace="~{fragments/roomsNavbar :: roomsNavbar}"></nav>
            <div id="roomList"></div>
        </div>
    </body>
</html>