<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{fragments/headerLayout :: layout(~{::title}, ~{::script})}">
        <title>Rooms</title>
        <script th:src="@{/assets/loadRooms.js}" type="text/javascript"></script>
        <script th:src="@{/assets/publicRooms.js}" type="text/javascript"></script>
    </head>
    <body>
        <div class="container m-3">
            <h1>Welcome</h1>
            <a href="/forum/public/signup" class="btn btn-primary" role="button">Sign Up</a>
            <a href="/forum/public/login" class="btn btn-secondary" role="button">Log In</a>
            <div data-ref="room-list">
                <div class="card my-3 d-none" data-ref="room">
                    <div class="card-header" data-ref="author"></div>
                    <div class="card-body" data-ref="title">
                        <h5 class="card-title"></h5>
                    </div>
                    <div class="card-footer text-body-secondary" data-ref="date"></div>
                </div>
            </div>
        </div>
    </body>
</html>