<div th:fragment="author">
    <h1>Welcome <span th:text="${author.getName()}" th:if="${author}"></span></h1>
    <div th:if="${author}" class="my-3">
        <button id="new-room" class="btn btn-primary">New room</button>
        <span th:switch="${author.getPrivilege()}">
            <a th:case="'ADMIN'" href="/forum/admin/panel" class="btn btn-primary">Admin panel</a>
        </span>
        <form th:action="@{/logout}" method="POST" style="display: inline">
            <button type="submit" class="btn btn-danger">Log out</button>
        </form>
    </div>
    <div th:unless="${author}" class="mb-3">
        <a href="/forum/public/signup" class="btn btn-primary" role="button">Sign Up</a>
        <a href="/forum/public/login" class="btn btn-secondary" role="button">Log In</a>
    </div>
</div>